head {
    background-color: black;
}

body {
    background-color: black;
}

footer {
    background-color: gray;
}

body header img {
    width: 100px;
    height: 100px;
}

body header h1 {
    text-align: center;
    color: white;
}

body header ul {
    display: inline-block;
    color: white;
    
}


body header ul li {
    list-style-type: none;
    float: left;
    margin: 40px;
}
p {
    color: white;
}

body main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }